body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #d8dbe2;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  #team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
  }
  
  .team-position {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .position {
    width: 150px;
    height: 250px;
    background-color: #db7f67;
    color: #d8dbe2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 18px;
    transform: perspective(600px) rotateY(0deg);
    transition: transform 0.8s;
    cursor: pointer;
    backface-visibility: hidden;
    margin: 10px;
  }

  .position img {
    width: 7.5em;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 5px;  /* Espaço entre a imagem e o nome */
  }
  
  .position.flipped {
    transform: perspective(600px) rotateY(180deg);
  }

  h2 {
    color: #d8dbe2;
    font-size: xx-large;
    -webkit-text-stroke-color: #001a40;
    -webkit-text-stroke-width: 2px;
  }
  
  button {
    background-color: #db7f67;
    color: #591f0a;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
  }

  button:hover {
    background-color: #001a40;
    color: #d8dbe2;
  }
  
  button.show {
    visibility: visible;
    animation: fadeIn 1s;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .player-name {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
  }
  
